form {
    border: 1px solid black;
    display: -webkit-flex;
    border: none;
    flex-direction: column;
    width: 50%;
    text-align: center;
    background-color: #5358B3;
    border-radius: 20px;
    padding: 20px;
    color: #fff;
}

#cart-info {
    float: right;
    margin-right: 20px;
    margin-left: 20px;
    padding: 10px;
    width: 40%;
}

#cart-info p {
    display: grid;
    grid-template-columns: 80px repeat(3, 1fr);
    /* row-gap: 10px; */
}

#cart-info p div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#customer-info input:not([type="submit"]),
#customer-info select {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 3px;
    border: 1px solid gray;
    background-color: white;
}

.thanhtoan {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #49D8B9;
    margin-top: 20px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.thanhtoan:hover {
    transform: scale(1.1);
}

.cd {
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 5px;
}

.dis0,
.city0 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 350px;
}

.ttmh a {
    text-decoration: none;
    font-size: large;
}

.ttmh a:hover {
    color: red;
}